*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width:100%;
}
body{
    background-color:bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
    padding-top: 1rem;
    margin-right: 5%;
    margin-left: 5%;
    
    
}
h1{
    font-size: 3rem;
}

header>img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1rem;
    width: auto;
    max-height:20vh;
    max-width: 80%;
    
    
}
nav li:hover{
   text-decoration: underline;
   font-weight: bolder;
   background-color: aquamarine;
}
nav li:visited{
    
    color: darkslategrey;
 }
 nav li:active{
    
    color: rgb(0, 255, 217);
    
 }

ul{
    list-style: none;
    display:flex;   
    gap:0.5rem;
    flex-wrap: wrap;
    justify-content:center;
    
    
    
}
li{
   display: block;
   border: 1px solid black;
   border-radius:1ch;
   padding: 0.5rem 1rem;
   flex:0 0 auto;
   text-align: center;
   font-size:medium ; 
}
li a{
    text-decoration: none;
    color: black;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    
}
article{
    flex:0 0 auto;
}
main img{
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,33%);
}
.service{
    margin: 2rem;
    padding-top:.2rem;
    padding-right:1rem;
}
footer{
    display:flex;
    place-items: center;
    background-color: black;
    color: azure;
}
footer div{
    flex:1;
    text-align: center;
    margin:1rem;
}
div>img{
    max-width: 50%;
}
@media(max-width:350px){
    header > img {
        max-width: 90%;
    }
    ul{
        display:flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 0.5rem;
    }
    li {
        width: 100%;
        text-align: center;
        margin-bottom: 0.1rem; 
    }
    .container{
        display:block

    }
    .service{
        margin-right: 0;
        margin-left: 0;
    }
    h2{
        font-size:large;
        margin-bottom: 0.5rem;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding-top: 0%;
        font-size: small;             
    }
    h1{
        font-size:x-large;
    }
    div>img{
        max-width: 100%;
        padding-top: 1rem;    
    }

}
@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 100%); /* Switch to a single column */
    }
}